<div class="footer">
    <p jhiTranslate="footer">This is your footer</p>
    <div class="container">
        <div class="row footer-top">
            <div class="col-sm-6 col-lg-6">
                <h4></h4>
                <p>欢迎你加入，这里有你想要的.hello world</p>
            </div>
        </div>
        <hr>
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li style="align:center">Copyright &copy;2018 Developer JingYuan.Ben Software All Rights Reserved.</li>
            </ul>
        </div>
    </div>
</div>
